*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    font-family: 'Poppins', sans-serif;
}
.carousel-caption{
    transform: translateY(-50%);
    bottom: 0;
    top: 56%;
}
.bg-color{
    background-color: #f7f7f7;
}
.blog-cards-date p{
    font-size: 10px;
}
